# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Data files (big ones)
*.csv
*.xlsx
*.xls
faiss_indexes/
faiss_terms/
filtering/